html, body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./image/image.png");
}

canvas {
  display: block;
  margin: auto; 
  padding-top: 30px;
  padding-bottom: 30px;
  
}

h1 {
  color: 'black';
  font-size: xxx-large;
  margin: auto;
  text-align: Center;
  padding-bottom: 1px;
}


h2 {
  color: black;
  font-size: large;
  margin: auto;
  text-align: center;  
  padding-bottom: 10 px; 
  
}


p {
  color: black;
  font-size: medium;
  margin: auto;
  text-align: Center;
  font-weight: bold;
  padding-bottom: 20 px;  
}

p2 {
  color: black;
  font-size: medium;
  margin: auto;
  text-align: Center;
  font-weight: bold;
  padding-bottom: 20px;   
}  

#pad{
  padding-bottom: 10px;  
}

#scrunch{
  max-width: 600px;
  margin: auto;
  padding-bottom: 10px; 
}

button {
  background-color: black;
  color: #F6F8E3ff;
}

button2 {
  background-color: white;
  color: black;
}




#button-holder {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  justify-content: center;
}


#info2 {
  height: auto;
  margin-top: 20px;
  background-color: white;
  color: black
}
